<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:float="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link th:replace="common/indexLink :: link"/>
    <link rel="stylesheet" th:href="@{~/lib/select2/css/select2.min.css}"
          href="/static/lib/select2/css/select2.min.css"/>
    <title>下载上传</title>
</head>
<body>

<div class="layui-body">
    <div>
        <table width="810" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td align="center">
                </td>
                <td height="30" align="center" colspan="2">
                    <button type="button" class="layui-btn layui-btn-warm" onclick="window.history.go(-1);">返回</button>
                    <!--<input type="button" class="sybutton" value="返回"  />-->
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb_con_border1">
            <tr>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>通过图片的ID（uuid生成的唯一序列号），从DFS上获取上传的图片</legend>
                </fieldset>
            </tr>
            <tr>
                <div>
                    <div class="layui-input-inline">
                        <input type="text" id="serial" name="serial" placeholder="请输入图片序号(UUID)"  class="layui-input">
                    </div>
                    <button type="button" class="layui-btn layui-btn-normal" onclick="getImage();">获取</button>
                    <button type="button" class="layui-btn layui-btn-normal" onclick="javascript:window.location.href='imageIndex'">上传数据信息</button>
                    <button type="button" class="layui-btn layui-btn-normal" onclick="uploadDataInfo();">上传数据信息(新窗口)</button>
                </div>
                <div th:if="${imageAddress != null}">
                    <img id="imgInfo" data-action="zoom" class="pull-left" width="150px" height="100px" th:src="${imageAddress}">
                </div>
                <!--<div th:if="${imageAddress != null}">
                    <a th:href="@{${imageAddress}}" th:text="${imageAddress}">测试</a>
                 </div>-->
            </tr>
            <tr>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>文件下载和上传</legend>
                </fieldset>
            </tr>
            <tr>
                <div class="layui-form-item merchant-form-important">
                    <input type="hidden" name="img" id="img" lay-verify="img"/>
                    <i class="icon-2 form-important-icon upload-img-icon"></i>
                    <label class="layui-form-label upload-img-label">图片</label>
                    <div class="layui-input-block upload-img" id="imgUpload">
                        <button type="button" class="layui-btn">
                            上传图片
                        </button>
                    </div>
                </div>
            </tr>
            <tr>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>常规使用：普通图片上传</legend>
                </fieldset>
            </tr>
            <tr>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item merchant-form-important">
                    <input type="hidden" name="bizAgreement" id="bizAgreement" lay-verify="bizAgreement"/>
                    <i class="icon-2 form-important-icon"></i>
                    <label class="layui-form-label">上传协议</label>
                    <div class="layui-input-block" id="bizAgreementUpload">
                        <button type="button" class="layui-btn" id="bizAgreementBtn">
                            <i class="layui-icon layui-icon-upload"></i> 选择文件
                        </button>
                    </div>
                </div>
            </tr>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>上传多张图片</legend>
            </fieldset>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>服务器目录下载或上传数据示例</legend>
                </fieldset>
            </tr>
            <tr>
                <td align="right">
                    <span>下载一般文件:&nbsp;&nbsp;</span>
                </td>
                <td width="60%">
                    <button type="button" class="layui-btn layui-btn-normal" onclick="downloadFile();">下载一般文件</button>
                </td>
                <br/>&nbsp;
                <td>
                    <form action="upload" method="post" enctype="multipart/form-data">
<!--                        <button type="file" class="layui-btn layui-btn-normal" onclick="downloadFile();" name="uploadFile"></button>-->
                        <input type="file" name="uploadFile" /><br>
                        <button type="submit" class="layui-btn layui-btn-normal">上传</button>
<!--                        <input type="submit" value="上传" />-->
                    </form>
                    <input type="text" id="uploadResult" disabled="disabled" th:value="${uploadResult != null ? uploadResult : null}" />
                </td>
            </tr>
        </table>
    </div>

    <div class="layui-form">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>书籍查询和下载（使用读写分离）：查询使用主库，下载使用从库</legend>
        </fieldset>
        <h3>书籍信息</h3>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">编号：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="bookId" id="bookId" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">书籍名称：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="bookName" id="bookName" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">书籍备注：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="bookRemarks" id="bookRemarks" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">时间范围</label>
                <div class="layui-input-inline">
                    <span>
                        <input type="text" class="layui-input" name="bookStartCreateDate" id="bookStartCreateDate" />
                        <i>-</i>
                        <input type="text" class="layui-input" name="bookEndCreateDate" id="bookEndCreateDate" />
                    </span>
                </div>
            </div>
            <div class="layui-inline">
                <button id="queryBooks" data-type="reload">查询</button>
                <button onclick="downloadBookRecord();">下载</button>
                <button onclick="downloadBookRecord1();">下载(使用阿里工具方式)</button>
                &lt;!&ndash;为所有的数据修改创建时间&ndash;&gt;
                <button onclick="batchAddDate();">一键添加创建时间</button>
                <!--<label class="layui-form-label">日期时间范围</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="test10" placeholder=" - ">
                </div>-->
            </div>
        </div>
        <!--<ul class="layui-inline">
            <li>
                <label>编号：</label>
                <input type="text" class="layui-input" name="bookId" id="bookId" />
            </li>
            <li>
                <label>书籍名称</label>
                <input type="text" class="layui-input" name="bookName" id="bookName" />
            </li>
            <li>
                <label>书籍备注</label>
                <input type="text" class="layui-input" name="bookRemarks" id="bookRemarks" />
            </li>
            <li>
                <label>时间范围</label>
                <input type="text" class="layui-input" name="bookStartCreateDate" id="bookStartCreateDate" />
                <i>-</i>
                <input type="text" class="layui-input" id="bookEndCreateDate" name="bookEndCreateDate" />
            </li>
            <li>
                <button id="queryBooks" data-type="reload">查询</button>
                <button onclick="downloadBookRecord();">下载</button>
                &lt;!&ndash;为所有的数据修改创建时间&ndash;&gt;
                <button onclick="batchAddDate();">一键添加创建时间</button>
            </li>
        </ul>-->
    </div>
    <div class="order-list">
        <table class="layui-hide" id="bookTable" lay-filter="books"></table>
    </div>
    <!--<tr>
        <td align="right">
            <span>下载优秀数据记录文件（EXCLE格式）:</span>
        </td>
    </tr>
    <tr>
        <td align="right">
            <span>序号：</span>
            <input type="text" id="bookId" width="5px" />
        </td>
        <td >
            <span>书籍名称：</span>
            <input type="text" id="bookName" width="50px" />
        </td>
        <td>
            <span>备注：</span>
            <input type="text" id="bookRemarks" width="100" />
        </td>
        <td>
            <input type="button" class="sybutton" value="查询" style="width:30px;" onclick="queryBookRecord();" />
        </td>
        <td>
            <input type="button" class="sybutton" value="下载" style="width:30px;" onclick="downloadBookRecord();" />
        </td>
    </tr>-->
</div>
</body>
<script type="text/html" id="operating">
    <a class="layui-btn layui-btn-xs" lay-event="details">详情</a>
    <a class="layui-btn layui-btn-xs" lay-even="add">添加</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>
<div th:replace="common/script :: script"></div>
<script th:src="@{~/js/downloadAndUpload/downloadAndUpload.js}" src="/static/js/downloadAndUpload/downloadAndUpload.js"></script>
<script th:src="@{~/lib/select2/js/select2.min.js}" src="/static/lib/select2/js/select2.min.js"></script>
<script th:src="@{~/lib/select2/js/i18n/zh-CN.js}" src="/static/lib/select2/js/i18n/zh-CN.js"></script>
<script th:inline="none" th:src="@{~/js/query/book.js}" src="/static/js/query/book.js"></script>
</html>