<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgb.utils.dao.system.SysUserMapper1">
    <select id="selectOne" resultType="com.wgb.utils.entity.system.SysUser">
      select u.* from sys_user u where u.username = #{username}
    </select>


</mapper>
