<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link th:replace="common/indexLink :: link"/>-->
    <title>欢迎登陆</title>
    <link th:href="@{~/css/index.css}" rel="stylesheet" href="/static/css/index.css">
    <link th:replace="common/indexLink :: link"/>
    <link rel="stylesheet" th:href="@{~/lib/select2/css/select2.min.css}" href="/static/lib/select2/css/select2.min.css"/>
</head>
<body>
    <div class="layui-body">
        <input type="text" id="message" disabled="disabled" th:value="${message != null ? message : null}" />
            <div>
                <button onclick="javascript:window.location.href='downloadAndUpload/page'" value="下载上传">下载上传</button>
                <!--<input type="button" onclick="javascript:window.location.href='downloadAndUpload/page'" value="下载上传" />-->
                <!--<input type="button" type="hidden" id="loginInfoId" value="${}" />-->
                <button onclick="loginInfo()" name="loginInfo" >登录信息提交</button>
                <!--<input type="button" onclick="loginInfo()" name="loginInfo" value="登陆信息提交" />-->
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common/script :: script"></div>
<script th:inline="none" th:src="@{~/js/index.js}" src="static/js/index.js"></script>
<script th:src="@{~/lib/select2/js/select2.min.js}" src="/static/lib/select2/js/select2.min.js"></script>
<script th:src="@{~/lib/select2/js/i18n/zh-CN.js}" src="/static/lib/select2/js/i18n/zh-CN.js"></script>
</html>


