<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" th:href="@{~/lib/layui-v2.4.0/layui/css/layui.css}" href="/static/lib/layui-v2.4.0/layui/css/layui.css"/>
    <link rel="stylesheet" th:href="@{~/css/error.css}" href="/static/css/error.css"/>
</head>
<body>
<i class="cloud"></i>
<div class="container layui-anim  layui-anim-up">

    <h3>404</h3>
    <p>页面不存在</p>
    <a href="/">返回首页</a>
</div>
</body>
</html>